.footer {
  background: $secondary;
  color: white;
  padding: 3rem 0;

  a {
    color: white;
  }

  &__marca {
    margin-bottom: 1.5rem;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  &__contato {
    align-items: center;
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }

  &__days {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
      justify-content: flex-start;
    }
  }

  &__social {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
      margin-bottom: 0;
    }

    ul {
      align-items: center;
      display: flex;
      margin: 0;

      li {
        svg {
          fill: white;
        }
      }
    }
  }

  &__copyright {
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
  }

  &__copy {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  &__address {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }

  &__whatsapp {
    align-items: center;
    background-color: $white;
    border-left: 5px solid $primary;
    bottom: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    color: $black !important;
    display: flex;
    font-weight: bold;
    justify-content: center;
    line-height: 1;
    padding: 1rem;
    position: fixed;
    right: 0;
    text-decoration: none;
    transition: all ease-in-out .25s;
    z-index: 101;
    width: 160px;

    &:hover{
      background: $soft-gray;
      color: $primary !important;
      text-decoration: none;
    }

    img{
      margin-right: .5rem;
    }
  }
}
