.header {
  margin-bottom: 3rem;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all ease-in-out 0.25s;
  width: 100%;

  &.fixed {
    background: $primary;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    .header__menu {
      a {
        color: $white;
        font-weight: 700;
      }
    }

    .header__contatos {
      a {
        color: white;

        &:hover {
          color: $black;
        }

        svg {
          fill: white;
        }
      }
    }
  }

  .navbar {
    background: transparent;
    display: flex;
    justify-content: space-between;

    #nav-mobile {
      &.show {
        background-color: $primary;
        border-radius: 10px;
        margin-top: 2rem;
        text-align: center;
        width: 100%;

        @include media-breakpoint-up(md) {
          background: none;
          margin-top: 0;
          width: auto;
        }

        ul {
          li {
            border-bottom: 1px solid rgba($white, 0.2);
            padding: 1rem 0;

            @include media-breakpoint-up(md) {
              border: none;
            }

            &:last-child {
              border: none;
            }
          }
        }
      }
    }
  }

  &__menu {
    width: 100%;

    a {
      border-radius: 5px;
      color: $white;
      padding: 0.75rem;
      text-transform: uppercase;

      &:hover {
        color: $white;
        background: rgba(0, 0, 0, 0.3);
        text-decoration: none;
      }
    }
  }

  &__button {
    button {
      border: 2px solid $white;
      display: flex;
      flex-direction: column;
      padding: 10px 12px;

      span {
        height: 3px;
        background: $white;
        margin: 3px 0;
      }
    }
  }

  &__contatos {
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    ul{
      margin-bottom: 0;
    }

    a {
      align-items: center;
      color: $black;
      display: flex;
      font-size: 1.5rem;
      font-weight: 700;

      &:hover {
        color: $primary;
        text-decoration: none;
      }

      small {
        font-size: 1rem;
      }

      svg {
        fill: white;
        height: auto;
        margin-right: 0.5rem;
        width: 24px;

        @include media-breakpoint-up(md) {
          fill: $black;
        }
      }
    }
  }
}
